<div class="container">

  <div class="ui-g large-div">
    <form class="ui-g" autocomplete="off" (ngSubmit)="submit()" [formGroup]="form">

      <h1>{{isEditing ? "Editar" : "Cadastrar"}} sala</h1>

      <div class="ui-g large-div">
        <span class="input-form p-float-label" style="width: 45%;">
          <input id="num_indentificacao" type="text" pInputText formControlName="num_indentificacao"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            style="width: 100%;"
          >
          <label for="num_indentificacao">Número de identificação</label>
        </span>

        <span class="input-form p-float-label" style="width: 45%;">
          <input id="qtd_assento-input" type="text" pInputText formControlName="qtd_assento"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            style="width: 100%;">
          <label for="qtd_assento-input">Quantidade de assentos</label>
        </span>
      </div>

      <div class="ui-g large-div button-right">
        <br>
        <button pButton type="reset" class="primary-color" style="margin-right: 10px;"
          *ngIf="isEditing" label="cancelar" (click)="stopEdit()">
        </button>

        <button pButton class="primary-color" type="submit" [disabled]="!form.valid">
          {{isEditing ? "Editar" : "Cadastrar"}}
        </button>
      </div>

   </form>

   <div class="error-message-div" *ngIf="showErrorReq">
    <p>{{userMsg}}</p>
   </div>
  </div>

  <hr style="height:2px; width: 100%; margin: 50px;">

  <div class="ui-g" style="width: 100%;">


    <p-table #dt [value]="movieTheaters" [autoLayout]="true"
      styleClass="p-datatable-customers"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
      [filterDelay]="0"
      [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} totais"
      [globalFilterFields]="['identificationNumber', 'movieTheaters.identificationNumber']">

      <ng-template pTemplate="caption">
          <div class="table-header header-table-align">
              LISTA DE SALAS
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text"  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Procure pela identificação" />
              </span>
          </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="identificationNumber">Número de identificação <p-sortIcon field="num_indentificacao"></p-sortIcon></th>
          <th>Quantidade de assento</th>
          <th>Editar/Excluir</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-movieTheater>
        <tr>
          <td><span>{{ movieTheater.identificationNumber }}</span></td>
          <td>{{movieTheater.seatQuantity}}</td>
          <td>
            <button pButton class="espaco-icones" icon="fa fa-trash" pTooltip="Editar"
              (click)="getMovieTheaterToEdit(movieTheater.identificationNumber)" tooltipPosition="top">
              <i class="pi pi-pencil"></i>
            </button>
            <button pButton class="espaco-icones delete-button" icon="fa fa-trash"
              (click)="deletar(movieTheater.id)" pTooltip="Excluir" tooltipPosition="top" style="height: 3rem">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhuma sala encontrado.</td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>

